.empty-cart-message {
    text-align: center;
    color: #838ca3;
    font-size: 0.8rem;
    font-weight: 600;
    margin: 10px;
}
.empty-cart-name {
    text-align: center;
    color: #838ca3;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 10px;
}
.empty-cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80px;
    padding: 20px;
    background-color: #f3f4f6;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}

.app-shopping-cart-name {
    text-align: center;
    color: #404654;
    font-size: 1.8rem;
    font-family: "Roboto";
    margin: 10px;
}

.App {
    background-color: #f3f4f6;
    min-height: 100vh;
    padding: 10px 30px;
}
